[submodule "tools/MiniRAG"]
    path = tools/MiniRAG
    url = git@github.com:HKUDS/MiniRAG.git


[submodule "tools/LLaMA-Factory"]
    path = tools/LLaMA-Factory
    url = git@github.com:hiyouga/LLaMA-Factory.git